.black{
  background: black !important;
}

.blue{
  background: black !important;
}

.light-gray{
  background: #C47A45 !important;
}

.silver{
  background: #C0C0C0 !important;
}

.aqua{
  background: #00FFFF !important;
}

.purple{
  background: #800080 !important;
}
